header{
    display: flex;
    text-align: center;
    background-color: rgb(0, 81, 255); 
    width: 100% ;
    padding: 0px;
      }

      nav a {
    display: flex;
    justify-content: center;
    text-decoration: none; /*enlève le surlignement*/
    color: aliceblue; /*couleur des liens*/
    font-weight: 1000; /*pour le gras*/
      }

    nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none; /*enlève les points*/
    margin: 0;
    padding: 0;
      }

    ul li{
    display: inline-block; margin: 0 20px;
      } /*pour mettre les liens sur une ligne
      0 haut et bas et 20px gauche et droite */

      body{
        margin: 0;
        padding: 0;
      }
      /*pour avoir la barre rempli*/
